:root {
  --color-white: #FFFFFF;
  --color-black: #000;

  --color-red: #ff2d2d;

  --color-gray-90: #e6e6e6;
  --color-gray-80: #cccccc;
  --color-gray-60: #a9a9a9;
  --color-gray-59: #979797;
  --color-gray-46: #757575;
  --color-gray-40: #666;

  --color-primary: #1F75FE;

  --font-family-base: 'Unbounded', sans-serif;
  --font-family-accent: 'Manrope', sans-serif;

  --transition-duration: 0.2s;
}